
  .kim  {
    width:100px;
    height: auto;
    float: left;
    padding: 5%;
    
  }

  .kou  {
    width:100px;
    height: auto;
    float:left;
    padding: 5%;
    
  }

  .ken  {
    width:100px;
    height: auto;
    float: left;
    padding: 5%;
    
  }
.kim p{
    border-width: 2px;
  
    }

.kou p{
      border-width: 2px;
    }

.ken p{
        border-width: 2px;
        }

.kim img{
      width: 200px;
    }
  .kou img{
      width: 200px;
    }
  .ken img{
      width:200px;