
  .kim  {
    width:300px;
    height: auto;
    float: left;
    padding: 5%;
    
  }

  .kou  {
    width:300px;
    height: auto;
    float:left;
    padding: 5%;
    
  }

  .ken  {
    width:300px;
    height: auto;
    float: left;
    padding: 5%;
    
  }
.kim p{
  border-style: solid;
    border-width: auto;
    background-color: rgb(80, 48, 168);
    }

.kou p{
  border-style: solid;
      border-width:auto;
      background-color:rgb(80, 48, 168);
    }

.ken p{
  border-style: solid;
        border-width: auto;
        background-color: rgb(80, 48, 168);
        }

.kim img{
      width: 300px;
    }
  .kou img{
      width: 300px;
    }
  .ken img{
      width:300px;