
  .kim  {
    width:300px;
    height: auto;
    float: left;
    padding: 1%;
    
  }

.kim p{
  border-style: solid;
    border-width: auto;
    background-color: rgb(80, 48, 168);
    }
.kim img{
      width: 300px;
    }
